test/data/flows.json
[{"id":"ee2dc1b3.4bcf2","type":"tab","label":"フロー 1","disabled":false,"info":""},{"id":"dd7244fa.c89398","type":"line_notify_api","z":"ee2dc1b3.4bcf2","name":"","accessToken":"k4SqMI1nMyW6kZW7CRJCp91WzW6sg6b0zTlbI7LRFTo","x":310,"y":40,"wires":[["3a9c0b5c.327804"]]},{"id":"ae756712.db4dd8","type":"inject","z":"ee2dc1b3.4bcf2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"test message","payloadType":"str","x":130,"y":40,"wires":[["dd7244fa.c89398"]]},{"id":"3a9c0b5c.327804","type":"debug","z":"ee2dc1b3.4bcf2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":40,"wires":[]}]